#news-head{
    text-decoration: underline #affeee;
}
#welcome-head{
    text-decoration: underline #affeee;
}
#contact-head{
    text-decoration: underline #affeee;
}
#about-head{
    text-decoration: underline #affeee;
}
#diet-head{
    text-decoration: underline #affeee;
}
#workout-head{
    text-decoration: underline #affeee;
}
#bundles-head{
     text-decoration: underline #affeee;
 }

#footer-div{
    background-color: #affeee;
    width: 100%;
}
#footer-copyright{
    background-color: dodgerblue;
    width: 100%;
}